{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="container-staff">
    <div class="card-2 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body-3">
            <!-- I should probably add a dynamic table here -->
            <h5><b>Staff</b></h5>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Seniority</th>
                        <th scope="col">Shift</th>
                        <th scope="col">Performance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <th scope="row">{{ row ["name"]}}</th>
                        <th scope="row">{{ row ["seniority"]}}</th>
                        <th scope="row">{{ row ["shift"]}}</th>
                        <th scope="row">{{ row ["performance_level"]}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}