/* Homepage CSS */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.left-box {
    float:left;
    width: 50%;
    height: 600px;
    padding: 60px;
    text-align: left;
    background: #0F0A0A;
    color: #F5EFED;
    font-size: 30px;
}

.right-box {
    float: right;
    width: 50%;
    height: 600px;
    padding: 60px;
    text-align: center;
    background: #0F0A0A;
    color: #F5EFED;
    font-size: 30px;
}

/* Music CSS */

.musicheader {
    padding: 40px;
    text-align: left;
    background: #F5EFED;
    color: #0F0A0A;
    font-size: 40px;
}