/* Homepage CSS */
.header {
    padding: 60px;
    text-align: center;
    background: #FFFFFF;
    color: #0F0A0A;
    font-size: 30px;
}

.left-box {
    float:left;
    width: 50%;
    height: 600px;
    padding: 60px;
    text-align: left;
    background: #0F0A0A;
    color: #F5EFED;
    font-size: 30px;
}

.right-box {
    float: right;
    width: 50%;
    height: 600px;
    padding: 60px;
    text-align: center;
    background: #0F0A0A;
    color: #F5EFED;
    font-size: 30px;
}

/* Music CSS */

.musicheader {
    padding: 70px;
    text-align: left;
    background: #FFFFFF;
    color: #0F0A0A;
    font-size: 40px;
}

.container {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    background: #0F0A0A;
}

.col {
    padding: 20px;
    background: #0F0A0A;
    color: #F5EFED;
}

/* Photography CSS */

.photoheader {
    padding: 70px;
    text-align: center;
    background: #FFFFFF;
    color: #0F0A0A;
    font-size: 40px;
}

.row {
    padding: 30px;
    text-align: center;
    background: #FFFFFF;
    color: #0F0A0A;
    font-size: 35px;
}

.camanchor:link {
    text-decoration: none;
    color: black;
}

.camanchor:visited {
    text-decoration: none;
    color: black
}

.camanchor:hover {
    text-decoration: none;
    color: hotpink;
}