/* Homepage CSS */

.home-wrapper {
    padding: 65px;
}

#welcome-h {
    color: white;
    font-size: 70px;
}

#home-p {
    color: #f7faf8;
    font-size: 55px;
}

.go-down {
    width: 8%;
    height: 8%;
    filter: invert(1);
    transform: scaleY(-1);
    position: relative;
    bottom: -270px;
}
.img-container {
    margin: 0 auto;
    text-align: center;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.page-separation {
    padding: 450px;
}
#p-container {
    margin: 0 auto;
    text-align: center;
}

#home-imp {
    color: #f7faf8;
    font-size: 40px;
}

.card-transparent {
    margin: 60px;
    display: inline-block;
    vertical-align: middle;
    width: 18rem;
    height: 10rem;
    color: white;
}


.card-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 70px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Music CSS */

.musicheader {
    padding: 70px;
    text-align: left;
    background: #FFFFFF;
    color: #0F0A0A;
    font-size: 40px;
}

.favorite-icon {
    text-align: center;
    height: 176px;
  }

  .favorite-icon img {
    display: inline-block;
    max-width: 200px;
    height: 200px;
    margin-top: 20%;
    padding: 20px 0;
  }

  h3 {
    font-size: 20px;
    margin: 90px 0 25px;
    color: #3d3d3d;
    text-transform: uppercase;
  }

  .hoverFavorites:hover {
    background-color: #f2f2f2;
  }

  @media (min-width: 978px) {
    .favorites-box {
      margin-right: 0;
      border: 1px solid #e5e5e5;
      border-left: 0;
      border-top: 0;
      height: 400px;
    }

    .favorites-box.last {
      border-right: 0;
    }
  }

/* Artists */
.a-header {
    padding: 70px;
    text-align: center;
    font-size: 50px;
    background: white;
    color: #0F0A0A;

}

.favartist {
    margin: auto;
    width: 50%;
    height: 100%;
}

/* Platforms CSS */

.header {
    padding: 70px;
    text-align: center;
    background: white;
    color: #0F0A0A;
    font-size: 60px;
}



/* Photography CSS */

.photoheader {
    padding: 70px;
    text-align: center;
    background: #FFFFFF;
    color: #0F0A0A;
    font-size: 40px;
}

.row {
    padding: 30px;
    text-align: center;
    background: #FFFFFF;
    color: #0F0A0A;
    font-size: 35px;
}

.camanchor:link {
    text-decoration: none;
    color: black;
}

.camanchor:visited {
    text-decoration: none;
    color: black
}

.camanchor:hover {
    text-decoration: none;
    color: hotpink;
}

.camanchor:hover {
    text-decoration: none;
    color: hotpink;
}

/* Cameras CSS */

img {
    max-height: 100%;
    max-width: 100%;
}

.cheader {
    padding: 60px;
    text-align: center;
    background: #0F0A0A;
    color: #FFFFFF;
    font-size: 30px;
}

.container2 {
    height: 40%;
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    background: #FFFFFF;
}

.left-text {
    padding: 20;
    text-align: center;
    font-size: 25px;

}