{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

<h1>Transaction history for {{ username }}.</h1>
        <table class="table table-hover" name="shares_bought">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Shares Bought</th>
                    <th scope="col">Time of purchase</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <th scope="row">{{ row["share_symbol"] }}</th>
                    <td>{{ row["shares_number"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["total"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Current Cash Balance</th>
                        <th scope="col">Projected Grand Total</th>
                    </tr>
                </thead>
                <div style="padding: 50px"></div>
                <tbody>
                    <tr>
                        <th scope="row">{{ cash }}</th>
                        <td>{{ sum }}</td>
                    </tr>
                </tbody>
                </table>
{% endblock %}