{% extends "layout.html" %}
{% block title %}
    Stock portfolio
{% endblock %}

{% block main %}
    <h1>Stocks portfolio for {{ username }}</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Stocks Owned</th>
                    <th scope="col">Shares Owned</th>
                    <th scope="col">Current Stock Price</th>
                    <th scope="col">Total Holding Value</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <th scope="row">{{ row["symbol"] }}</th>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["total"] }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ row["symbol"] }}</th>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["total"] }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ row["symbol"] }}</th>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["total"] }}</td>
                </tr>
            </tbody>
            </table>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Current Cash Balance</th>
                        <th scope="col">Projected Grand Total</th>
                    </tr>
                </thead>
                <div style="padding: 50px"></div>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                    </tr>
                </tbody>
                </table>
{% endblock %}