{% extends "layout.html" %}
{% block title %}
    Stock portfolio
{% endblock %}

{% block main %}
    <h1>Stocks portfolio for {{ username }}</h1>
        <table class="center">
            <thead> Purchases
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Shares Owned</th>
                    <th>Purchased Price</th>
                    <th>Current Price</th>
                    <th>Time of purchase</th>
                </tr>
            </thead>
        </table>
{% endblock %}