{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h1>Stocks for "{{ symbol["name"] }}"</h1>
        <table class="center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ symbol["name"] }}</td>
                    <td>{{ symbol["price"] }}</td>
                    <td>{{ symbol["symbol"] }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}