{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h1>Stocks for "{{ symbol["name"] }}"</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ symbol["name"] }}</td>
                    <td>{{ symbol["price | usd"] }}</td>
                    <td>{{ symbol["symbol"] }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}