/* General CSS */
body {
    background-color: #6494AA;
}

#nav-right {
    text-align: right;
    float: right;   
}

/* Login CSS */

.card {
    width: 450px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
