.overlay {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Login CSS */

.container {
    position: relative;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 50px 0 0 50px;
}