/* General CSS */

body {
    background-color: #6494AA;
}

#nav-right {
    float: right;
}

/* Login CSS */

.card {
    width: 450px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Form error messages styling */

input [type="text"] {
    box-sizing: border-box;
}

.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #FD3E3E;
    border-radius: 0 0 5px 5px;

}

.error.active {
    padding: 0.3em;
}

.flash-error {
    width: 100%;
    padding: 0;

    font-size: 100%;
    color: white;
    background-color: #FD3E3E;
    border-radius: 5px 5px 5px 5px;
    padding: 0.3em;
}